beautifulsoup4==4.12.3
brotli==1.1.0
ConfigParser==6.0.0
cryptography==42.0.2
Cython==3.0.8
dl==0.1.0
docutils==0.20.1
gradio==4.18.0
HTMLParser==0.0.2
importlib_metadata==7.0.1
keyring==24.3.0
lockfile==0.12.2
lxml==5.1.0
numpy==1.26.4
ordereddict==1.1
pandas==1.5.3
protobuf==4.25.2
pyOpenSSL==24.0.0
scikit_learn==1.3.2
thread==0.1.3
toml==0.10.2
tornado==6.4
xmlrpclib==1.0.1
zipp==3.17.0
